/* Контент в 100% */
@media (max-width: 900px) {
    main {
        /* Ширина во всю страницу */
        width: 100%;
        padding: var(--gap-small);
        padding-top: calc(var(--header-height) + var(--gap-small));
        gap: var(--gap-small);
    }
}