/* Мобильная версия */
@media (max-width: 900px) {
    main {
        /* Ширина во всю страницу */
        width: 100%;
        padding: var(--gap-3);
        padding-top: calc(var(--header-height) + var(--gap-3));
        gap: var(--gap-3);
    }
}