html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--bg-primary);
}

/* Блок страницы */
main {
    width: 100%;
    height: 100%; /* Высота во всю страницу */
    padding: var(--gap-medium);
    padding-top: calc(var(--header-height) + var(--gap-medium));

    /* Отображаем вертикальный скролл */
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-gutter: stable;

    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
    align-items: center;
}

/* Добавляем scrollbar отступ снизу */
main::-webkit-scrollbar-track {
    margin-top: var(--header-height);
}

/* Не для iOS */ 
@supports not (-webkit-touch-callout: none) {
    main {
        overflow-y: overlay; /* Scroll поверх */
    }
}

/* Блок с контентом */
section {
    /* width: min(1620px, 100%); */

    /* 5 видео в строку + 4 medium отступа внутри */
    width: min(calc(270px * 5 + var(--gap-medium) * 4), 100%);
    position: relative;

    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
}


/* Разделитель */
hr {
    width: 100%;
    border: none; /* Отключаем стандартную обводку и ставим обводку 2px */
    border-bottom: 2px solid var(--border-primary);
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: var(--gap-tiny);
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: var(--gap-tiny);
}