html, body {
    width: 100%;
    height: auto;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

body {
    background-color: var(--bg-primary);
}

/* Блок страницы */
main {
    width: 100%;
    height: 100%; /* Высота во всю страницу */
    padding: var(--gap-medium);
    padding-top: calc(var(--header-height) + var(--gap-medium));

    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
    align-items: center;
}

/* Не для iOS */ 
@supports not (-webkit-touch-callout: none) {
    main {
        overflow-y: overlay; /* Scroll поверх */
    }
}

/* Блок с контентом */
section {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
    position: relative;
}


/* Разделитель */
hr {
    width: 100%;
    border: none; /* Отключаем стандартную обводку и ставим обводку 2px */
    border-bottom: 2px solid var(--border-primary);
}