.flex-row {
    display: flex;
    flex-direction: row;
    gap: var(--gap-3);
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: var(--gap-3);
}

.gap-1 {
    gap: var(--gap-1);
}

.gap-2 {
    gap: var(--gap-2);
}

.gap-3 {
    gap: var(--gap-3);
}

.gap-4 {
    gap: var(--gap-4);
}

.gap-5 {
    gap: var(--gap-5);
}