.flex-row {
    display: flex;
    flex-direction: row;
    gap: var(--gap-small);
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}

.gap-tiny {
    gap: var(--gap-tiny);
}

.gap-small {
    gap: var(--gap-small);
}

.gap-medium {
    gap: var(--gap-medium);
}