.video-row {
    /* gap: 12px; */
    flex-wrap: wrap;
}

.video-player {
    width: 33.33333%;
    height: 300px;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 4px;
    box-sizing: border-box;
}

.video-player div {
    width: 100% !important;
    height: 100% !important;
}