/* Блок с title и строкой видео */
.video-content {
    /* 5 видео в строку + 4 medium отступа внутри */
    width: calc(270px * 5 + var(--gap-medium) * 4);
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
    margin: 0 auto;
}

/* Строка с видео */
.video-row {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-medium);
}

/* Видео и название */
.video {
    width: 270px;
    display: flex;
    flex-direction: column;
    gap: var(--gap-tiny);
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}

/* Подсветка текущей серии */
.video_highlight {
    background-color: #2b2a31;
    outline: 8px solid #2b2a31;
}

/* Превью */
.video__thumbnail {
    width: 100%;
}

.video__thumbnail img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

/* Наведение на пк */
@media (hover: hover) {
    .video:hover .video__thumbnail,
    .video:focus-visible .video__thumbnail {
        scale: 1.03;
    }
}

/* Клик на телефоне */
@media (hover: none) {
    .video:active .video__thumbnail {
        scale: 1.03;
    }
}

.video__info {
    display: flex;
    flex-direction: column;
    gap: var(--gap-tiny);
}