/* Контент в 100% */
@media screen and (max-width: 900px) {

    /* Блок страницы */
    article {
        width: 100%; /* Ширина во всю страницу */

        /* Отступ сверху 50px + 12px, Отступ снизу равен отступу между элементами, справа - 12 - ширина scroll */
        padding: calc(50px + var(--gap-small))
                 calc(var(--gap-small) - var(--scrollbar-width))
                 var(--gap-small)
                 var(--gap-small);
        gap: var(--gap-small);
    }
}