html, body {
    width: 100%;
    height: 100%;
}

body {
    /* display: flex;
    justify-content: center; */
    background-color: var(--bg-primary);
}

/* Блок страницы */
article {
    width: 100%;
    height: 100%; /* Высота во всю страницу */
    padding: calc(50px + var(--gap-medium)) var(--gap-medium) var(--gap-medium) var(--gap-medium);
    overflow-y: auto; /* scroll обычный */
    overflow-x: hidden;
    /* -ms-overflow-style: -ms-autohiding-scrollbar; */

    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
    align-items: center;

    /* scrollbar-gutter: stable; */
}

/* Добавляем scrollbar отступ снизу */
article::-webkit-scrollbar-track {
    margin-top: 51px;
}

/* CSS for other than iOS devices */ 
@supports not (-webkit-touch-callout: none) {
    article {
        overflow-y: overlay; /* Scroll поверх */
    }
}

/* Блок с контентом */
section {
    /* width: min(1620px, 100%); */

    /* 5 видео в строку + 4 medium отступа внутри */
    width: min(calc(270px * 5 + var(--gap-medium) * 4), 100%);
    position: relative;

    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
}


/* Разделитель */
hr {
    width: 100%;
    border: none; /* Отключаем стандартную обводку и ставим обводку 2px */
    border-bottom: 2px solid var(--border-primary);
}