/* Заголовок сезона и сетка с эпизодами */
.season {
    /* 5 видео в строку + 4 medium отступа внутри */
    width: calc(var(--episode-width) * 5 + var(--gap-medium) * 4);
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
    margin: 0 auto;
}

/* Сетка с эпизодами */
.episode-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-medium);
}