/* Контент в 100% */
@media (max-width: 900px) {
    /* Уменьшаем отступ */
    header {
        gap: var(--gap-medium);
    }
}

@media (max-width: 500px) {
    /* Уменьшаем отступ */
    header {
        gap: var(--gap-medium);
    }

    /* Уменьшаем заголовок */
    .header__title h1 {
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    /* Уменьшаем заголовок */
    .header__title h1 {
        font-size: 12px;
    }
}