header {
    width: 100%;
    height: 50px;

    background-color: var(--bg-secondary);
    border-bottom: 1px solid var(--border-primary);

    position: fixed;
    top: 0;
    left: 0;

    z-index: var(--z-nav);
}

.header__content {
    width: min(1080px, 100%);
    padding: 0 var(--gap-small);
    display: flex;
    gap: var(--gap-small);
    justify-content: space-between;
    margin: 0 auto;
}

.header__button {
    padding: 0 4px 0 0;
}

.header__button img {
    height: var(--button-height-big);
    width: var(--button-height-big);
}