:root {
    --header-height: 64px;
}

header {
    width: 100%;
    height: var(--header-height);

    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 0 var(--gap-small);

    background-color: var(--bg-secondary);
    border-bottom: 1px solid var(--border-primary);

    position: fixed;
    top: 0;
    left: 0;

    z-index: var(--z-nav);
}

.header__title {
    display: flex;
    align-items: center;
    gap: var(--gap-small);
}

.input-wrapper {
    position: relative;
}

.input-wrapper input[type="text"] {
    width: min(336px, 100%);
    padding-right: 36px;
}

.input-wrapper button {
    width: 34px;
    height: 34px;
    min-width: 34px;
    min-height: 34px;
    position: absolute;
    top: 1px;
    right: 1px;
}

.input-wrapper button img {
    
}