/* О Ежиных Хрониках */
.about-project {
    display: flex;
    gap: var(--gap-medium);
}

/* Альтернативное название проекта */
.about-project__alt-title {
    font-weight: 400;
}

/* Обложка проекта */
.about-project__cover {
    max-width: 300px;
    aspect-ratio: 1000 / 1491;
    overflow: hidden;
}

.about-project__cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Описание проекта */
.about-project__description {
    max-width: 500px;
    white-space: pre-line;
    /* margin: var(--gap-small) 0; */
}